/* App.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  color: #e50914;
  padding: 15px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

body {
  background-color: #252525;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #a80009;
}